<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink='/home'>TEST YOUR MATH</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a routerLink='/home' class="nav-item nav-link">Home</a>     
      <a routerLink='/quiz' class="nav-item nav-link">Quiz</a>
    </div>
  </div>
</nav>

<body>
    <h1>
      Math Quiz
    </h1>
  <div class="card center" *ngIf="question">
    <h1>
      {{question.label}}
    </h1>
    <form [formGroup]="form">
      <div class="form-group">
        <label *ngFor="let choice of question.choices">
          <input type="radio" [value]="choice" formControlName="choice">
          <span>
            {{choice.value}}
          </span>
        </label>
      </div>
      <br/>
    </form>
    <br/>
  </div>
</body>