body {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin: 30px 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
}
  
  button {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 2px;
    border-radius: 15px;
    border: 1px solid;
    max-width: 90%;
    padding: 5px 20px;
    margin-top: 50px;
    margin-bottom: 10px;
    opacity: 1;  
    transition-duration: 0.4s;
    transition-property: opacity;
  }
  
  button:hover {
    cursor: pointer;
    opacity: 0.8;
    color: yellow;
  
  }