a:hover {
  color: #fff;
}

html,
body {
  padding-top: 20px;
  height: 100%;
  background-color: white;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: black;
}

.cover-container {
  max-width: 42em;
}

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
